a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

body {
    font-family: "Manrope", sans-serif;
    margin: 0px;
}

li {
    list-style: none;
}

ul,
nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 75px;
    max-width: 800px;
    height: auto;
    color: black;
}

.div_hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.hero_p {
    font-weight: 500;
    font-size: 20px;
    color: #454444;
    max-width: 400px;
    height: 150px;
}

.Boat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    border-radius: 20px;
}

.main_first {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.main_cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 50px;
}

.main_h2_1 {
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    max-width: 600px;
    height: auto;
    color: black;
}

.main_p_1 {
    font-weight: 500;
    font-size: 20px;
    color: #454444;
    max-width: 500px;
    height: auto;
    margin-top: 50px;
}

.div_main_1 {
    margin-top: 50px;
    background-color: #FEFCF7;
}

.main_h2_2 {
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    max-width: 600px;
    height: auto;
    color: black;
}

.main_p_2 {
    font-weight: 500;
    font-size: 20px;
    color: #454444;
    max-width: 608px;
    height: auto;
    margin-top: 50px;
}

.div_main_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}

.main_third {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.big_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: #FEFCF7;
    padding: 25px;
}

.September {
    background-color: #FBF1D6;
    max-width: 110px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.main_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-top: 100px;

}

.mini_main_4 {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.main_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    background-color: #FEFCF7;
    padding-bottom: 25px;
}

.mini_main_5 {
    display: flex;
    flex-direction: column;
}

.main_h2_3 {
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    max-width: 400px;
    height: auto;
    color: black;
}

.main_p_3 {
    font-weight: 500;
    font-size: 20px;
    color: #454444;
    max-width: 400px;
    height: auto;

}

.main_last {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 75px;
    margin-top: 100px;
}

.mini_last_main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.main_last_h2{
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    max-width: 600px;
    height: auto;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.footer_p{
    font-weight: 500;
    font-size: 18px;
}

.a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.nav_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ul_footer li {
    margin: 0;
    padding: 0;
}